* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFEACA;
  padding: 15px 40px;
  position: fixed;   /* selalu di atas */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;     /* paling depan */
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-left img {
  width: 40px;
}
.navbar-links {
  display: flex;
  gap: 20px;
  font-weight: 600;
}
.navbar-links a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.btn-login {
  background: #FFB6C1;
  border: 2px solid #000;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none; /* hilangin underline */
  color: #000;           /* teks hitam biar sama */
  display: inline-block; /* biar proper kayak tombol */
}



    /* FOOTER */
footer {
  background: #2b124c;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto 20px;
  line-height: 1.6;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.footer-links a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background: #443069;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background 0.3s;
}

.footer-links a:hover {
  background: #5d4396;
}